<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <!-- <div class="demo demo-1">Pointer Events None</div>
        <div class="demo demo-2">Display:none</div>
        <div class="demo demo-3">Opacity 0</div>
        <div class="demo demo-4">Visibility:hidden</div> -->
        <div class="box-1">
            <!-- <div class="line"></div> -->
            <span>Box1</span>
        </div>
        <div class="box-2">

            <span>Box2</span>
        </div>
        <div class="box-3">

            <span>Box3</span>
        </div>
        <div class="box-6">

            <span>Box6</span>
        </div>
        <div class="box-7">
            <a href="www.zing.vn">Zing.vn</a>
            <span>Box7</span>
        </div>

        <div class="box-8">

            <span>Box8</span>
        </div>
        <div class="box-9">

            <span>Box9</span>
        </div>
        <button>Click me</button>
</body>
</html>