img{
    max-width: 100%;
    
}
/* .slider .item{
    display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   /* border:1px solid red; */

/* }  */
/* .slider .title{
    width: 50%;


}
.slider .images{

    width: 100%;
/* } */
.images{
    width: 300px;
}
.slider img{
    padding: 50px;
    max-width: 100%;
} 
body{
    background-color: #ccc;
}