img{
    max-width: 100%;
    w
}
.slider .item{
    display: flex;
   /* justify-content: center; */
   align-items: center;
   padding: 20px;
   /* border:1px solid red; */

}

body{
    background-color: #ccc;
}