img{
    max-width: 100%;
    width: 50%
}
.slider .item{
    display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   /* border:1px solid red; */

}

body{
    background-color: #ccc;
}