img{
    max-width: 100%;
    width: 50%;
    display: inline-block;
}
.slider .item{
    display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   /* border:1px solid red; */

}
.slider .title{
    width: 50%
    /* border:1px solid red; */
    flex-shrink: 0;
}
.slider .images{
    width: calc(100% - 200px);
}
.slider img{
    display:inline-block;
}
body{
    background-color: #ccc;
}